//import scss file
@import "./gradient-text.scss";
@import "./header.scss";
@import "./main-photo.scss";
@import "./brag.scss";
@import "./offer-teaser.scss";
@import "./why-us.scss";
@import "./realizations.scss";
@import "./contact.scss";
@import "./offer.scss";

body {
    font-family: "Poppins", sans-serif;
    text-align: center;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 600px) {
    main {
        font-size: 10vw;
    }
}

.container {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}
