.offer-header {
  height: calc(100vh - 80px);
  .background-stone {
    background: url("../img/kafelki_3.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 70px;
      color: white;
    }
  }
  .offer-header-container {
    height: calc(100vh - 80px - 200px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .offer-title {
      font-size: 50px;
    }
    .stone-types-wrapper {
      display: flex;
      justify-content: space-around;
      .stone-type {
        font-size: 30px;
      }
    }
  }
}

.granite,
.marble,
.mixed {
  margin-bottom: 25px;
  .marble-title,
  .granite-title,
  .mixed-title {
    padding-top: 48px;
    font-size: 50px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .granite-gallery,
  .marble-gallery,
  .mixed-gallery {
    height: 500px;
    width: 75%;
    margin: 0 auto;
    border: 5px solid navy;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow-y: auto;
    .stone-photo-wrapper {
      margin-bottom: 25px;
    }
    .granite-photo,
    .mixed-photo {
      height: 150px;
      width: 150px;
      margin: 0 12px;
      margin-bottom: 8px;
      &:hover {
        cursor: pointer;
      }
      &-1,
      &-5,
      &-9,
      &-13,
      &-17 {
        background: url("../public/stones/granite-1.jpeg");
        background-size: contain;
      }
      &-2,
      &-6,
      &-10,
      &-14,
      &-18 {
        background: url("../public/stones/granite-2.jpeg") no-repeat;
        background-size: cover;
      }
      &-3,
      &-7,
      &-11,
      &-15 {
        background: url("../public/stones/granite-3.jpeg");
        background-size: contain;
      }
      &-4,
      &-8,
      &-12,
      &-16 {
        background: url("../public/stones/granite-4.jpeg");
        background-size: contain;
      }
    }
    .marble-photo {
      height: 150px;
      width: 150px;
      // border: 1px solid red;
      margin: 0 12px;
      margin-bottom: 8px;
      &-1,
      &-5,
      &-9,
      &-13,
      &-17 {
        background: url("../public/stones/marble-1.jpeg");
      }
      &-2,
      &-6,
      &-10,
      &-14,
      &-18 {
        background: url("../public/stones/marble-2.webp");
      }
      &-3,
      &-7,
      &-11,
      &-15,
      &-19 {
        background: url("../public/stones/marble-3.png");
      }
      &-4,
      &-8,
      &-12,
      &-16 {
        background: url("../public/stones/marble-4.jpeg");
      }
    }
  }
}
